.root {
  display: flex;
  justify-content: space-evenly;
  padding: 2.4em 0 5em 0;
  font-size: 0.7em;
  button {
    font-family: "Roboto", sans-serif;
  }
  button:nth-of-type(1) {
    animation-delay: 2s;
  }

  button:nth-of-type(2) {
    animation-delay: 1s;
  }

  button:nth-of-type(3) {
    animation-delay: 3s;
  }
}
