@import "../colors";

.root {
  display: flex;
  justify-content: center;
  flex: 33%;
  .button {
    display: flex;
    flex-direction: column;
    opacity: 0;
    text-align: center;
    justify-content: center;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: none;
    background: $home-circle-bg;
    background-image: $home-circle-bg-grad;
    box-shadow: inset 0 0 5px 3px black;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    animation: fadeIn 2000ms cubic-bezier(0, 0.1, 0.73, 0.75) both;
    transition-duration: 300ms;
    color: $asid-nav-bg;
    &:hover {
      box-shadow: inset 0 0 7px 4px black;
      background: darken($color: $home-circle-bg, $amount: 2%);
      background-image: $home-circle-bg-grad;
      font-size: 0.99em;
    }
    &:active {
      box-shadow: inset 0 0 9px 6px black;
      background: darken($color: $home-circle-bg, $amount: 2%);
      background-image: $home-circle-bg-grad;
      font-size: 0.987em;
      color: lighten($color: $asid-nav-bg, $amount: 10%);
      text-shadow: 0 0 2px $asid-nav-bg;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  @media screen and (max-width: 303px) {
    font-size: 0.8em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
