* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  ul {
    font-family: "Russo One", sans-serif;
  }
  h1,
  h2 {
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308);
  }
}

main {
  display: flex;
  min-height: 100vh;
}
