@import "../colors";

.root {
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
  color: $nav-btn;
  margin: 0;
  border: none;
  transition-duration: 400ms;
  outline: none;
  padding: 0.3em 0.3em 0.6em 0.6em;
  z-index: 2;
  width: 2em;
  height: 2em;
  transition-duration: 300ms;
  &:hover {
    width: 2.2em;
    height: 2.2em;
  }
  &:focus {
    width: 2.2em;
    height: 2.2em;
  }
}

.open {
  composes: root;
  z-index: 2;
  position: relative;
  color: $nav-btn-close;
  &:hover {
    color: $nav-btn-closeHF;
  }
  &:focus {
    color: $nav-btn-closeHF;
  }
  transform: rotate(90deg) translateX(-8px);
}
