$nav-bar: #605265;
$nav-bar-grad: linear-gradient(to bottom left, rgba(0, 0, 0, 0.63), #605265);
$nav-bar-inside: #605265;
$nav-bar-grad-inside: linear-gradient(122deg, rgba(0, 0, 0, 0.856), #605265);
$nav-btn: #f9ae08;
$nav-btn-hover: #c9d8d6;
$nav-btn-close: #c9d8d6;
$nav-btn-closeHF: darken(#c9d8d6, 15%);

$nav-links: #f9ae08;

$main-bg: #c2d3d0;

$title-color: darken(#605265, 12%);

$home-circle-stroke: #f7dca2;
$home-circle-bg: #605265;
$home-circle-bg-grad: radial-gradient(#605265, #605265 80%);

$about-img: #f9ae08;
$about-bg: rgba(220, 220, 220, 0.74);
$about-grad: linear-gradient(to bottom, #fff, gainsboro 50%);

$projects-bg1: #7ea29c;
$projects-bg-grad1: linear-gradient(to top, rgba(255, 255, 255, 0.61), #7ea29c);
$projects-bg2: #a9c1bc;
$projects-bg-grad2: linear-gradient(
  to top,
  rgba(255, 255, 255, 0.623),
  #a9c1bc
);
$projects-bg3: #c9d8d6;
$projects-bg-grad3: linear-gradient(
  to top right,
  rgba(255, 255, 255, 0.856),
  #c9d8d6
);
$projects-bg4: #c2d3d0;
$projects-bg-grad4: linear-gradient(
  to top right,
  rgba(255, 255, 255, 0.856),
  #c2d3d0
);
$projects-bg5: #b0c6c1;
$projects-bg-grad5: linear-gradient(
  to top right,
  rgba(255, 255, 255, 0.671) 45%,
  #b0c6c1
);
$projects-indicators: #f9ae08;
$projects-contact-btn: #605265;
$projects-arrows: white;
$contact-inputs-border: lighten(#f9ae08, 20%);
$contact-inputs-border-active: #f9ae08;

$contact-inputs: #c9d8d6;
$contact-btn: #81684c;
$contact-grad: linear-gradient(to top, #fff 50%, gainsboro);

$asid-nav-bg: #f9ae08;

$footer: #c9d8d6;
$footer-icon-hover: #f9ae08;
$footer-email-hover: black;
