@import "../colors";

.root {
  position: relative;
  .label {
    line-height: 2em;
  }
}

.input {
  width: 100%;
  height: 2em;
  padding-left: 1em;
  border: none;
  border-bottom: 2px solid $contact-inputs-border;
  background-color: $contact-inputs;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  transition-duration: 300ms;
  box-shadow: 0 0 3px 1px rgb(255, 255, 255);
  &:focus {
    outline: none;
  }
}
