@import "../colors";

.root {
  .btnContainer {
    display: flex;
    justify-content: flex-end;
    .btn {
      background: white;
      border: 2px solid $contact-inputs-border;
      border-radius: 0.2rem;
      color: $contact-inputs-border;
      padding: 0.5em 1em;
      transition-duration: 300ms;
      font-weight: bold;
      margin-top: 0.4em;
      &:not(:disabled) {
        border-color: $contact-btn;
        color: $contact-btn;
      }
      &:hover:disabled {
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        background: $contact-btn;
        color: white;
      }
      &:active {
        background: darken($color: $contact-btn, $amount: 10%);
      }
    }
  }
  .error {
    color: red;
    font-weight: bold;
  }
  .success {
    color: green;
    font-weight: bold;
  }
}
